* {
    font-family: 'Solway', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

h1 {
    padding: 10px 15px;
    background-color: rgb(247, 136, 154);
    box-shadow: 5px 5px 5px salmon;
    border-radius: 5px;
}

#grid {
    display: flex;
    box-shadow: 5px 5px 5px salmon;

}

.cell {
    height: 16px;
    width: 33px;
    background-color: lightgreen;
    border: 0.5px solid rgb(30, 49, 28)

}

.cell.on {
    background-color: salmon;
}

.cell:hover {
    background-color: salmon;
}

button {
    font-size: 17px;
    padding: 10px 15px;
    margin: 20px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px salmon;
    outline: none;
}

button:hover {
    background-color: rgb(247, 136, 154);
    transition: 0.2s;
    outline: none;
}

button:active {
    transform: translateY(3px);
    transition: none;
}

#button-group {
    margin: 20px;
}

input {
    padding: 10px 15px;
    outline: none;
}